@page "/"

@inject RiskService RiskService
@inject NavigationManager NavigationManager
@inject RiskBean RiskBean
@using RiskManagementAppSharedUI.Beans
@using RiskManagementAppSharedUI.Models
@using RiskManagementAppSharedUI
@using RiskManagementAppSharedUI.Services

<PageTitle>Overzicht</PageTitle>

<h3>Risico's</h3>

@if (Risks == null)
{
    <h4>Loading...</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Risico ID</th>
                <th>Naam</th>
                <th>Risco waarde inherent</th>
                <th>Risco waarde gecontroleerd</th>
                <th>Waarschijnlijkheid waarde inherent</th>
                <th>Waarschijnlijkheid waarde gecontroleerd</th>
                <th>Impact waarde inherent</th>
                <th>impact waarde gecontroleerd</th>
                <th>Omschrijving</th>
                <th>Actie type</th>
                <th>Uitstaande actie</th>
                <th>Clasificatie</th>
                <th>Aanmaakdatum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var risk in Risks)
            {
                <tr>
                    <td>@risk.RiskId</td>
                    <td>@risk.RiskName</td>
                    <td>@risk.RiskValueInherent</td>
                    <td>@risk.RiskValueControlled</td>
                    <td>@risk.ProbabilityValueInherent</td>
                    <td>@risk.ProbabilityValueControlled</td>
                    <td>@risk.ImpactValueInherent</td>
                    <td>@risk.ImpactValueControlled</td>
                    <td>@risk.Description</td>
                    <td>@risk.ActionType</td>
                    <td>@risk.OutstandingActions</td>
                    <td>@risk.Classification</td>
                    <td>@risk.CreationDate</td>
                    <AuthorizeView>
                    <td>                       
                        <a href="/UpdateRisk"><button class="btn btn-primary" @onclick="() => RiskBean.SetRiskId(risk.RiskId)">Wijzigen</button></a>
                        <a href="/RiskHistory"> <button class="btn btn-primary" @onclick="() => RiskBean.SetRiskId(risk.RiskId)">Geschiedenis</button></a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(risk.RiskId))">Delete</button>   
                    </td>
                    </AuthorizeView>
                    <td>
                        <a href="/NormsPerRisk"> <button class="btn btn-primary" @onclick="() => RiskBean.SetRiskId(risk.RiskId)">Normen</button></a>
                        <a href="/ControlsPerRisk"> <button class="btn btn-primary" @onclick="() => RiskBean.SetRiskId(risk.RiskId)">Controls</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" @onclick="() => Categories()">Categorieën</button>
<button class="btn btn-primary" @onclick="() => Controls()">Controls</button>
<button class="btn btn-primary" @onclick="() => Norms()">Normen</button>
<br />
<br />
<AuthorizeView>
<a href="/AddRisk"><button class="btn btn-primary">Voeg risico toe</button></a>
</AuthorizeView>




@code {
    public IEnumerable<Risk>? Risks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Risks = await RiskService.GetRisks();
    }

    private async Task Delete(int id)
    {
        await RiskService.DeleteRisk(id);
        NavigationManager.NavigateTo("/", true);
    }

    private void RiskDetails(int id)
    {
        RiskBean.SetRiskId(id);
        NavigationManager.NavigateTo("/RiskHistory", true);
    }

    private void Controls()
    {
        NavigationManager.NavigateTo("/Controls", true);
    }

    private void Norms()
    {
        NavigationManager.NavigateTo("/Norms", true);
    }

    private void Categories()
    {
        NavigationManager.NavigateTo("/Categories", true);
    }
}