@page "/RiskHistory"

@inject RiskHistoryService RiskHistoryService
@inject NavigationManager NavigationManager
@inject RiskBean RiskBean
@using RiskManagementAppSharedUI.Models
@using RiskManagementAppSharedUI.Services
@using RiskManagementAppSharedUI.Beans
@using RiskManagementAppSharedUI


<h3>RiskHistory</h3>

@if (RiskHistories == null)
{
    <h4>Loading...</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Beschrijving</th>
                <th>Actie type</th>
                <th>Uitstaande acties</th>
                <th>Classificatie</th>
                <th>Aanmaakdatum</th>
                <th>Laatst geüpdatet</th>
                <th>Vervaldatum</th>
                <th>Historiedatum</th>
                <th>Risico Id</th>
                <th>Risico waarde inherent</th>
                <th>Risico waarde gecontroleerd</th>
                <th>Waarschijnlijkheid waarde inherent</th>
                <th>Waarschijnlijkheid waarde gecontroleerd</th>
                <th>Impact waarde inherent</th>
                <th>impact waarde gecontroleerd</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var riskHistory in RiskHistories)
            {
                <tr>
                    <td>@riskHistory.RiskHistoryId</td>
                    <td>@riskHistory.RiskName</td>
                    <td>@riskHistory.Description</td>
                    <td>@riskHistory.ActionType</td>
                    <td>@riskHistory.OutstandingActions</td>
                    <td>@riskHistory.Classification</td>
                    <td>@riskHistory.CreationDate</td>
                    <td>@riskHistory.LastUpdated</td>
                    <td>@riskHistory.DueDate</td>
                    <td>@riskHistory.HistoryDate</td>
                    <td>@riskHistory.RiskId</td>
                    <td>@riskHistory.RiskValueInherent</td>
                    <td>@riskHistory.RiskValueControlled</td>
                    <td>@riskHistory.ImpactValueControlled</td>
                    <td>@riskHistory.ImpactValueInherent</td>
                    <td>@riskHistory.ProbabilityValueControlled</td>
                    <td>@riskHistory.ProbabilityValueInherent</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private int RiskId { get; set; }
    public IEnumerable<RiskHistory>? RiskHistories { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RiskId = RiskBean.GetRiskId();
    }

    protected override async Task OnInitializedAsync()
    {
        RiskHistories = await RiskHistoryService.GetRiskHistoryByRiskId(RiskId);
    }
}
