@page "/UpdateRisk"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject RiskBean RiskBean
@inject RiskService RiskService
@inject CategoryService CategoryService
@using RiskManagementAppSharedUI.Models
@using RiskManagementAppSharedUI.Services
@using RiskManagementAppSharedUI.Beans

<h3>UpdateRisk</h3>

@if (Risk == null)
{
    <h4>Loading...</h4>
}
else
{
    <EditForm Model="risk" OnValidSubmit="@Update">

        <div>
            <label>RiskName</label>
            <InputText class="forn-control" id="RiskName" @bind-Value="risk.RiskName" placeholder="@Risk.RiskName" />
        </div>

        <div>
            <label>Waarschijnlijkheid waarde inherent</label>
            <InputSelect id="riskValue" @bind-Value="risk.ProbabilityValueInherent">
                @{
                    int i = 1;
                }
                @foreach (var number in RiskBean.riskProbability)
                {
                    <option value=@i>@number</option>
                    i++;
                }
            </InputSelect>
        </div>

        <div>
            <label>Waarschijnlijkheid waarde controlled</label>
            <InputSelect id="riskValue" @bind-Value="risk.ProbabilityValueControlled">
                @{
                    int i = 1;
                }
                @foreach (var number in RiskBean.riskProbability)
                {
                    <option value=@i>@number</option>
                    i++;
                }
            </InputSelect>
        </div>

        <div>
            <label>Impact waarde inherent</label>
            <InputSelect id="riskValue" @bind-Value="risk.ImpactValueInherent">
                @{
                    int i = 1;
                }
                @foreach (var number in RiskBean.riskImpact)
                {
                    <option value=@i>@number</option>
                    i++;
                }
            </InputSelect>
        </div>

        <div>
            <label>Impact waarde controlled</label>
            <InputSelect id="riskValue" @bind-Value="risk.ImpactValueControlled">
                @{
                    int i = 1;
                }
                @foreach (var number in RiskBean.riskImpact)
                {
                    <option value=@i>@number</option>
                    i++;
                }
            </InputSelect>
        </div>

        <div>
            <label>Categorie</label>
            <InputSelect id="Categorie" @bind-Value="risk.CategoryId" placeholder="@Risk.CategoryId">
                @if (Categories == null)
                {
                    <h4>Loading...</h4>
                }
                else
                {
                    @foreach (var category in Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                }
            </InputSelect>
        </div>

        <div>
            <label>Description</label>
            <InputText class="forn-control" id="Description" @bind-Value="risk.Description" placeholder="@Risk.Description" />
        </div>

        <div>
            <label>ActionType</label>
            <InputText class="forn-control" id="ActionType" @bind-Value="risk.ActionType" placeholder="@Risk.ActionType" />
        </div>

        <div>
            <label>OutstandingActions</label>
            <InputText class="forn-control" id="OutstandingActions" @bind-Value="risk.OutstandingActions" placeholder="@Risk.OutstandingActions" />
        </div>

        <div>
            <label>Classification</label>
            <InputText class="forn-control" id="Classification" @bind-Value="risk.Classification" placeholder="@Risk.Classification" />
        </div>

        <div>
            <label>DueDate</label>
            <InputDate class="forn-control" id="DueDate" @bind-Value="risk.DueDate" placeholder="@Risk.DueDate" />
        </div>

        <button type="submit" class="btn btn-primary">Update risico</button>

    </EditForm>
}

@code {
    private int RiskId { get; set; }
    public Risk Risk { get; set; } = new();
    private Risk risk = new();
    private IEnumerable<Category>? Categories { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RiskId = RiskBean.GetRiskId();
        risk.RiskId = RiskId;
    }

    protected override async Task OnInitializedAsync()
    {
        risk = await RiskService.GetRisk(RiskId);
        Categories = await CategoryService.GetCategories();
    } 

    private async Task Update()
    {
        var response = await Http.PutAsJsonAsync($"/api/Risks/{RiskId}",risk);
        NavigationManager.NavigateTo("/");
    }
}
