@page "/"

@inject RiskService RiskService
@inject NavigationManager NavigationManager
@inject RiskBean RiskBean
@using RiskManagementShared.Beans
@using RiskManagementShared.Models
@using RiskManagementShared
@using RiskManagementShared.Services

<PageTitle>Overzicht</PageTitle>

<h3>Risks</h3>

@if (Risks == null)
{
    <h4>Loading...</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>RiskId</th>
                <th>RiskName</th>
                <th>Description</th>
                <th>ActionType</th>
                <th>OutstandingActions</th>
                <th>Classification</th>
                <th>CreationDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var risk in Risks)
            {
                @*<tr @onclick="() => RiskDetails(risk.RiskId)">*@
                <tr>
                    <td>@risk.RiskId</td>
                    <td>@risk.RiskName</td>
                    <td>@risk.Description</td>
                    <td>@risk.ActionType</td>
                    <td>@risk.OutstandingActions</td>
                    <td>@risk.Classification</td>
                    <td>@risk.CreationDate</td>
                    <td>
                        <a href="/UpdateRisk" @onclick="() => RiskBean.SetRiskId(risk.RiskId)">Update risk</a>
                        <a href="/RiskHistory" @onclick="() => RiskBean.SetRiskId(risk.RiskId)">Risk history</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(risk.RiskId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/AddRisk"><button class="btn btn-primary">Add risk</button></a>
<a href="/AddCategory"><button class="btn btn-primary">Add category</button></a>
<a href="/Matrix"><button class="btn btn-primary">Kans x risico matrix</button></a>
<a href="/Categories"><button class="btn btn-primary">Categories</button></a>



@code {
    public IEnumerable<Risk>? Risks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Risks = await RiskService.GetRisks();
    }

    private async Task Delete(int id)
    {
        await RiskService.DeleteRisk(id);
        NavigationManager.NavigateTo("/", true);
    }

    private void RiskDetails(int id)
    {
        RiskBean.SetRiskId(id);
        NavigationManager.NavigateTo("/RiskHistory", true);
    }
}