@page "/UpdateRisk"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject RiskBean RiskBean
@inject RiskService RiskService
@inject CategoryService CategoryService
@using RiskManagementShared.Models
@using RiskManagementShared.Services
@using RiskManagementShared.Beans

<h3>UpdateRisk</h3>

@if (Risk == null)
{
    <h4>Loading...</h4>
}
else
{
    <EditForm Model="risk" OnValidSubmit="@Update">

        <div>
            <label>RiskName</label>
            <InputText class="forn-control" id="RiskName" @bind-Value="risk.RiskName" placeholder="@Risk.RiskName" />
        </div>

        <div>
            <label>Risico waarde inherent</label>
            <InputNumber id="RiskValueInherent" @bind-Value="risk.RiskValueInherent" placeholder="@Risk.RiskValueInherent" />
        </div>

        <div>
            <label>Risico waarde controlled</label>
            <InputNumber id="RiskValueControlled" @bind-Value="risk.RiskValueControlled" placeholder="@Risk.RiskValueControlled" />
        </div>

        <div>
            <label>Waarschijnlijkheid waarde inherent</label>
            <InputNumber id="ProbabilityValueInherent" @bind-Value="risk.ProbabilityValueInherent" placeholder="@Risk.ProbabilityValueInherent" />
        </div>

        <div>
            <label>Waarschijnlijkheid waarde controlled</label>
            <InputNumber id="ProbabilityValueControlled" @bind-Value="risk.ProbabilityValueControlled" placeholder="@Risk.ProbabilityValueControlled" />
        </div>

        <div>
            <label>Impact waarde inherent</label>
            <InputNumber id="ImpactValueInherent" @bind-Value="risk.ImpactValueInherent" placeholder="@Risk.ImpactValueInherent" />
        </div>

        <div>
            <label>Impact waarde controlled</label>
            <InputNumber id="ImpactValueControlled" @bind-Value="risk.ImpactValueControlled" placeholder="@Risk.ImpactValueControlled" />
        </div>

        <div>
            <label>Categorie</label>
            <InputSelect id="Categorie" @bind-Value="risk.CategoryId" placeholder="@Risk.CategoryId">
                @if (Categories == null)
                {
                    <h4>Loading...</h4>
                }
                else
                {
                    @foreach (var category in Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                }
            </InputSelect>
        </div>

        <div>
            <label>Description</label>
            <InputText class="forn-control" id="Description" @bind-Value="risk.Description" placeholder="@Risk.Description" />
        </div>

        <div>
            <label>ActionType</label>
            <InputText class="forn-control" id="ActionType" @bind-Value="risk.ActionType" placeholder="@Risk.ActionType" />
        </div>

        <div>
            <label>OutstandingActions</label>
            <InputText class="forn-control" id="OutstandingActions" @bind-Value="risk.OutstandingActions" placeholder="@Risk.OutstandingActions" />
        </div>

        <div>
            <label>Classification</label>
            <InputText class="forn-control" id="Classification" @bind-Value="risk.Classification" placeholder="@Risk.Classification" />
        </div>

        <div>
            <label>DueDate</label>
            <InputDate class="forn-control" id="DueDate" @bind-Value="risk.DueDate" placeholder="@Risk.DueDate" />
        </div>

        <button type="submit" class="btn btn-primary">Update risico</button>

    </EditForm>
}

@code {
    private int RiskId { get; set; }
    public Risk Risk { get; set; } = new();
    private Risk risk = new();
    private IEnumerable<Category>? Categories { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RiskId = RiskBean.GetRiskId();
        risk.RiskId = RiskId;
    }

    protected override async Task OnInitializedAsync()
    {
        risk = await RiskService.GetRisk(RiskId);
        Categories = await CategoryService.GetCategories();
    } 

    private async Task Update()
    {
        var response = await Http.PutAsJsonAsync($"/api/Risks/{RiskId}",risk);
        NavigationManager.NavigateTo("/");
    }
}
